NEXT_PUBLIC_SUPABASE_URL=https://pccleqeuojcjflzagnhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_BACKEND_URL=https://recepcionista-clinica-production.up.railway.app
BACKEND_URL=https://recepcionista-clinica-production.up.railway.app
NEXT_PUBLIC_SITE_URL=https://atiende360.com

# Tu email de Google — será el admin de agencia
NEXT_PUBLIC_AGENCY_EMAIL=pelayo.negueruela@gmail.com
AGENCY_EMAIL=pelayo.negueruela@gmail.com
